DATABASE_URL="postgres://<username>:<password>@<host>:<port>/db?sslmode=require"
BACKEND_URL="http://localhost:8000"

# JWT SECRETS
accessTokenSecret=123456789-atleast-32-char-long
refreshTokenSecret=0987654321-atleast-32-char-long
accessExpiry=15m
refreshExpiry=7d

NODE_ENV=production # || development

// I'm using brevo service to send mail
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
MAIL_FROM=